<!-- task_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    {% if user_class %}
    <h2>Class: {{ user_class }}</h2>
    <ul>
        {% for task in tasks %}
        
        <li>{{ task.title }} - {{ task.description }} <input type="checkbox" name="completed" id=""></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tasks available.</p>
    {% endif %}
</body>
</html>
